<form action="/" method="POST">
  <textarea name="data" cols="50" rows="10">
    i = 1;
    i = i + (2 * (5 - 1));
    i;
  </textarea>
  <br />
  <input type="submit" />
</form>

<%
  if @result
    @result.each_with_index do |eval, i|
      concat "Result, Line #{i+1}: #{eval}"
      concat "<br />".html_safe
    end
  end

  if @errors
    concat "<h3 style='color:red;'>Input Error (".html_safe
    concat @errors[:type]
    concat ")</h3>".html_safe
    concat @errors[:msg]
  end
-%>

